<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Drawing Tool</title>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="../Media/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><span><img src="../Media/img/brush.svg"/></span><a href="#">Online Drawing Tool</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
				<li><a href="#" accesskey="2" title="">Coloring Book</a></li>
				<li><a href="#" accesskey="3" title="">My Gallery</a></li>
				<li><a href="#" accesskey="4" title="">Newsfeed</a></li>
				<li><a href="#" accesskey="4" title=""><img src="../Media/img/login.svg"/></a></li>
			</ul>
		</div>
	</div>
	<div id="drawingapp">
      <canvas></canvas>
   	</div>
</div>
</body>
</html>